<div class="card article">
    <div class="card-image">
        {{ if .Params.images }}
        <a href="{{ .RelPermalink }}" class="image featured">
          {{ range first 1 .Params.images }}
          <img src="{{ . | relURL }}" alt="">
          {{ end }}
        </a>
        {{ else if .Params.featured }}
        <a href="{{ .RelPermalink }}" class="image featured">
          {{ $imageLocation := (path.Join "/img" (cond (eq .Params.featuredpath "date") (.Page.Date.Format "2006/01") (.Params.featuredpath)) .Params.featured) | relURL}}
          {{ with resources.Get $imageLocation }}
            {{ with .Resize "1000x webp"}}
              <img src="{{ .RelPermalink }}" alt="{{ .Params.featuredalt }}">
            {{ end }}
          {{ end }}
        </a>
        {{ end }}
      <span class="card-title overlay">{{ .Title }}</span>		
    </div>
    <div class="card-content">
        <p class="flow-text"></p>{{ .Content }}</p>
    </div>  
    {{ partial "post/footer-action.html" . }}    
</div>