{{ $materialize := resources.Get "js/vendor/materialize/materialize.min.js" }}
{{ $mainjs := resources.Get "js/main.js" | minify }}
{{ $js := slice $materialize $mainjs | resources.Concat "js/bundle.js" | fingerprint}}

<head>
    <meta charset="UTF-8"/>
</head>

<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ $sass := resources.Get "sass/main.scss" }}
{{ if $sass }}
{{ $style := $sass | toCSS | minify | fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}