  <nav> 
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">{{ .Site.Title }}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
          {{ range .Site.Menus.main }}{{ .Name }}
          <li><a href="{{ .URL | relLangURL }}" class="link">{{ .Name }}</a></li>
          {{ end }}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      {{ with .Site.Params.intro.pic }}<a href="{{ "/" | relLangURL}}">
      <img src="{{ .src | relURL }}"  width="{{ .width }}" alt="{{ .alt }}" class="mobilenav-title-image"/></a>
      {{ end }}
      {{ range .Site.Menus.main }}      
      <li><a href="{{ .URL | relLangURL }}" class="link">{{ .Name }}</a></li>
      {{ end }}
  </ul>  
  
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var elems = document.querySelectorAll(".sidenav");
    var instances = M.Sidenav.init(elems, options);
  });
  M.AutoInit();
</script>